---
import Layout from '../layouts/Layout.astro';
import HomePage from '../views/HomePage.vue';


---

<Layout title="Welcome ELiseo">
	<main class="lg:px-20">
		<HomePage client:load/>
	</main>
</Layout>
