---
import Layout from "../layouts/Layout.astro";
import OrderForm from "../components/orders/OrderForm.vue";

---
<Layout title="Pedido">
    <div>
        <OrderForm client:visible/>
    </div>
</Layout>